# Git
**.git
*.gitignore

# Python
**/__pycache__

# Docker
*Dockerfile.*
*docker-compose.yml
*.dockerignore

# Tailwind
**tailwindcss
**tailwindcss.exe
**tailwind.config.js

# Dev
**/tests
*pytest.ini
**/.pytest_cache

# Env
*.env
